.app {
  background-color: var(--dark-clr);
  padding-bottom: 5rem;
  min-height: 100vh;
}
.app__wrapper {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 1.5rem;
}
.app__left {
  flex: 2;
}
.app__right {
  flex: 1;
}

.app__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1.5rem;
}
@media screen and (max-width: 1200px) {
  .app__wrapper {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 900px) {
  .app__wrapper {
    flex-direction: column;
    padding: 0 1rem;
    gap: 0rem;
  }
  .app__left {
    flex: initial;
  }
  .app__right {
    flex: initial;
  }
}
@media screen and (min-width: 900px) {
  .app__left {
    flex: 2;
  }
  .app__right {
    flex: 1;
  }
}
