@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;
  --dark-clr: #161d34;
  --secondary-clr: #212d55;
  --secondary-clr-alt: #273563;
  --lightGray-clr: #c4c4c4;
  --sky-clr: #809cf5;
  --other-clr: #3e65fb;
  --white-clr: #fff;
  --transition-150: all 0.15s;
  --transition-300: all 0.3s;
}

html {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-base);
  scroll-behavior: smooth;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
